/*font-size*/
.fs-XL {
    font-size: 2em;
}
.fs-L {
    font-size: 1.25em;
}

.lh-L {
    line-height: 2.5em;
}

.fs-M {
    font-size: 1em;
}

.lh-M {
    line-height: 2em;
}

.fs-S {
    font-size: .8em !important;
}

.lh-S {
    line-height: 1.6em;
}

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.5em;
}

.h3 {
    font-size: 1.17em;
}

.h4 {
    font-size: 1em;
}

.h5 {
    font-size: .83em !important;
}

.h6 {
    font-size: .67em !important;
}
/*font-color*/
.c-orange {
    color: #E26C52 !important;
}

.c-black {
    color: #000 !important;
}

.c-white {
    color: #fff !important;
}

.c-gray {
    color: #C8C7CC !important;
}
.c-dark-gray{
	color: #A6A6A7 !important;
}
/*background*/
.bc-orange {
    background-color: #E26C52 !important;
}

.bc-black {
    background-color: #000 !important;
}

.bc-white {
    background-color: #fff !important;
}

.bc-gray {
    background-color: #C8C7CC !important;
}
.bc-dark-gray{
	background-color: #697B87 !important;
}
.full-width {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
/*botton*/
.btn-orange {
    background-color: #E26C52 !important;
    color: #fff !important;
}

.btn-orange-empty {
    border-radius: 0.2em !important;
    padding: 0.3em 1em !important;
    cursor: pointer;
    border: solid 1px #E26C52 !important;
    background-color: transparent !important;
    color: #E26C52 !important;
}

body {
    font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}

.no-underline {
    text-decoration: none !important;
}

/*input*/
.input-div {
    border: 0.15em solid #ccc;
    border-radius: 0.5em;
    background-color: white;
    /* line-height: 3em;
	padding: 0 1em; */
    padding: 2% 1%;
    font-size: 1.25em;
    margin-top: 1em;
}

.input-no-border {
    border: 0;
}

    .input-no-border:FOCUS {
        border: 0 !important;
        outline: none !important;
    }

.input-close {
    float: right;
    /* margin-top: 0.8em;
	width: 1.35em; */
}

/*float*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    clear: both;
}

/*text-align*/
.t-a-l {
    text-align: left !important;
}

.t-a-r {
    text-align: right !important;
}

.t-a-c {
    text-align: center !important;
}

/* For jquery Mobile Extend*/
.ui-corner-none {
    border: none !important;
}

fieldset.ui-controlgroup > .ui-controlgroup-controls {
    width: 100%;
}

* {
    text-shadow: none !important;
}

table td {
    position: relative;
}

.ui-btn-icon-only {
    border: none !important;
    background-color: transparent !important;
    min-height: 16px;
}

.ui-btn-tiny {
    height: .8em;
    font-size: .8em;
    border: solid 1px #999;
    border-radius: .3em;
    padding: .1em .3em;
    font-weight: 100 !important;
}
/*为调整标题栏的图标*/
.ui-header .ui-btn-icon-notext {
    height: 16px !important;
    width: auto !important;
    border: none;
    background-color: transparent !important;
    padding: 8.75px 12.5px !important;
    margin: 0 !important;
}

    .ui-header .ui-btn-icon-notext:after {
        left: 50% !important;
        margin-left: -11px;
        background-color: transparent !important;
    }
/*添加样式为页面中的padding 1em的问题*/
.ui-content-inset {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0em !important;
    margin-right: 0em !important;
}

.ui-content-outset {
    margin-left: -1em;
    margin-right: -1em;
}
/*小图标显示样式*/
.ui-icon-show-10x10:after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
}

.ui-icon-show-20x20:after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
}
/*定义弹出层的自定义样式*/
.popup-bottom {
    width: 100% !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    top: auto !important;
    max-width: 999999px !important;
}
    .popup-bottom > div {
        border-radius: .3125em .3125em 0 0 !important;
    }
